body {
    background: url("http://www.vectory.ru/products_pictures/ornam00808.gif");
}

.App {
    display: grid;
    place-content: center;
    margin-top: 100px;
}

.main {
    display: grid;
    grid-template-rows: repeat(3, auto);
    padding: 25px;
    background: lightgrey;
    border-radius: 5px;
}

.arrow {
    width: 30px;
    box-shadow: 2px 2px 2px 0 rgba(50, 50, 50, 0.75);
}

.arrow:active {
    box-shadow: 0 0 0 0 rgba(50, 50, 50, 0.75);
    transform: translateY(3px);
}

.password_div {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-column-gap: 20px;
}

.arrows_div {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-column-gap: 10px;
    align-content: end;
}

textarea {
    width: 100%;
    box-shadow: inset 2px 2px 1px 0 rgba(50, 50, 50, 0.75);
}

textarea,
input,
.arrow {
    border-radius: 5px;
}